.App {
  text-align: center;
}

.header {
  background: #69B144;
  display: flex;
  padding: 1em;
  color: #fff;
  align-items: center;
}

.header h1 {
  margin-right: auto;
}

select{
  padding: 5px;
  width: 100px;
  border-color: #ccc;
}

section {
  padding: 1em;
}

.chart {
  display: flex;
  flex-wrap: wrap;
}
figure {
  flex: 1;
  margin: 20px; 
  padding: 1em;
  border: 1px solid rgba(0,0,0,0.2);
}